.product-link {
  text-decoration: none;
  color: inherit;
}

.product {
  display: flex;
  align-items: center;
}

.product-image {
  max-width: 100px;
  margin-right: 16px;
}

.product-info {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.product-name {
  margin: 0;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333333;
}

.product-price {
  margin: 0;
  text-align: left;
  color: #bf0000;
}

.product-carousel {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 30px;
}

.product-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  max-height: 400px;
  padding: 0;
  margin: 0 80px;
  box-sizing: border-box;
}

.product-list a:nth-child(odd) {
  border-bottom: 2px solid #ebebeb;
  padding-bottom: 20px;
}

.product-list a:nth-child(even) {
  padding-top: 20px;
}

.carousel-button {
  position: absolute;
  top: 37%;
  padding: 8px 16px;
  cursor: pointer;
  z-index: 1;
  border: none;
  margin: 0;
}

.carousel-button:focus {
  outline: none;
}

.carousel-button-left {
  left: 0;
  margin-left: 5px;
}

.carousel-button-right {
  right: 0;
  margin-right: 5px;
}

.page-indicator {
  text-align: center;
  /* 上の要素との間隔を広げる */
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.products-relatedto-rakuten {
  display: inline-block;
  border-bottom: 2px solid #Bf0000;
}

@media (max-width: 768px) {
  .recipe-title {
    white-space: wrap !important;
    margin-top: 10px !important;
  }

  .recipe {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .carousel-button {
    top: 41%;
  }

  .product-name {
    white-space: wrap !important;
    margin-top: 10px !important;
  }

  .product-image {
    margin-right: 0;
  }
}