.recipe-link {
    text-decoration: none;
    color: inherit;
}

.recipe {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-image {
    max-width: 100px;
    margin-right: 16px;
}

.recipe-title {
    margin: 0;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #bf0000;
}

.recipe-info {
    flex-grow: 1;
}

.recipe-description {
    margin: 0;
    text-align: left;
    text-overflow: ellipsis;
    color: #333333;
}

.recipe-result {
    margin: 0 auto;
    max-width: 600px;
}

.recipes-relatedto-rakuten {
    display: inline-block;
    border-bottom: 2px solid #Bf0000;
}